h1{
	text-align: center;
	font-family: italic;
	font-size: 50px;
	color: white;
}

h2{
	text-align: center;
	font-family: cursive;
	font-size: 25px;
	color: grey;
}

.imghead{
	max-width: 100%;
  	height: auto;
}

div{
	margin : 100px;

}
ul {
    list-style-type: none;
    overflow: hidden;
    background-color:grey;
    position: center ;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: orange;
}
body{
	background-color: #333333;
}

nav{
	color: white;
}

.esquina_pagina{
	-webkit-transform:translateX(0);
}

.esquina_pagina:before{
	content:'';
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 0px;
	height: 0px;
	background: -webkit-linear-gradient(45deg, white 45%, #aaa 50%, #ccc 60%, white);
	-webkit-transition-duration: 0.3s;
}

.esquina_pagina:hover:before{
	width: 35px;
	height: 35px;
}

footer{
	background-color: #E1D5D2;
	text-align: center;
  	margin : 10px;
}

.imagenes{
	height: 30px;
	width: 30px;
}

.search{
	float: right!important;
}

#text{
	margin: 20px;
}
