h1{
	text-align: center;
	font-family: italic;
	font-size: 50px;
	color: white;

}

h2{
	text-align: center;
	font-family: cursive;
	font-size: 37.5px;
	color: orange;
}

h3{
	text-align: center;
	font-family: italic;
	font-size: 25px;
	color: grey;
}

h4{
	text-align: center;
	font-family: cursive;
	font-size: 30px;
	color: orange;
}

.imghead{
	max-width: 100%;
  	height: auto;
}

.titles{
	margin : 50px;
}
.titles2{
	margin-left : 175px;
	margin-right : 175px;
	margin-top : 30px;
	margin-bottom : 30px;
	position: center;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color:grey;
    position: center ;
}

li {
    float: left;
    padding.left: 10px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: orange;
}
body{
	background-color: #333333;
}

nav{
	color: white;
}

.esquina_pagina{
	-webkit-transform:translateX(0);
}

.esquina_pagina:before{
	content:'';
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 0px;
	height: 0px;
	background: -webkit-linear-gradient(45deg, white 45%, #aaa 50%, #ccc 60%, white);
	-webkit-transition-duration: 0.3s;
}

.esquina_pagina:hover:before{
	width: 35px;
	height: 35px;
}

footer{
	background-color: #E1D5D2;
	text-align: center;
  	padding: irem;
}

.imagenes{
	height: 30px;
	width: 30px;
}

.search{
	float: right!important;
}

#text{
	margin: 20px;
}

input{
	float: left;
	width: 100%;
	height: 50px;
	margin-bottom: 15px;
}


.size{
	width : 500px ; 
	height: 300px;
}

button{
	float: center;
	position: center;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 15px;
	width: 40%;
	height: 40px;
	background-color: silver;
	color: black;
	border-color: white;
}